<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg1">
    <br><br><br><br>
  <div class="align-center">
      <img src="assets/imgs/asys-logo.svg" class="slide-image" />
    </div>
    <form (submit)="doLogin()">
      <ion-list>
  
        <ion-item>
          <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>
  
        <!--
        Want to use a Username instead of an Email? Here you go:
  
        <ion-item>
          <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>
        -->
  
        <ion-item>
          <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>
  
        <div padding>
          <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
        </div>
  
      </ion-list>
    </form>
  </ion-content>
  