<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- 
  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION1' | translate }}</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION2' | translate }}</ion-label>
        <ion-input formControlName="option2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list>
  </form> -->

  <div padding>
    <ion-segment [(ngModel)]="admin_alerts">
      <ion-segment-button value="daily">
        Daily
      </ion-segment-button>
      <ion-segment-button value="monthly">
        Monthly
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="admin_alerts">
    <ion-list *ngSwitchCase="'daily'">
      <!-- <ion-list-header>Fire device</ion-list-header>
      <ion-item>
        <ion-icon name="ios-flame" item-start></ion-icon>
        alert 1
        <ion-icon name="rose" item-end></ion-icon>
      </ion-item>

      <ion-list-header>Water sensor</ion-list-header>
      <ion-item>
        <ion-icon name="ios-flame" item-start></ion-icon>
        alert 2
        <ion-icon name="rose" item-end></ion-icon>
      </ion-item> -->

      <!-- <ion-item>
          <ion-icon name="ios-flame" item-start></ion-icon>
          alert 1
          <ion-icon name="rose" item-end></ion-icon>
        </ion-item>

        <ion-list-header>Water sensor</ion-list-header>
        <ion-item>
          <ion-icon name="ios-flame" item-start></ion-icon>
          alert 2
          <ion-icon name="rose" item-end></ion-icon>
        </ion-item> -->

      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h5>Data Analysis</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <b>status</b>
          </ion-col>
          <ion-col col-3>
            <b>Device name</b>
          </ion-col>
          <ion-col col-3>
            <b>Date</b>
          </ion-col>
          <ion-col col-3>
            <b>Readings</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <ion-icon ios="ios-information-circle" md="md-information-circle" style="color: red"></ion-icon>
          </ion-col>

          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            10 khz
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
             <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="color: green"></ion-icon>

          </ion-col>
          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            20 khz
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <ion-icon ios="ios-information-circle" md="md-information-circle" style="color: red"></ion-icon>
          </ion-col>
          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            22 khz
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <ion-icon ios="ios-information-circle" md="md-information-circle" style="color: red"></ion-icon>
          </ion-col>
          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            11 khz
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
             <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="color: green"></ion-icon>

          </ion-col>
          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            14 khz
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
              <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" style="color: green"></ion-icon>
          </ion-col>
          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            17 khz
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <ion-icon ios="ios-information-circle" md="md-information-circle" style="color: red"></ion-icon>
          </ion-col>
          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            11 khz
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-icon ios="ios-information-circle" md="md-information-circle" style="color: red"></ion-icon>
          </ion-col>
          <ion-col col-3>
            Smart heat sensor
          </ion-col>
          <ion-col col-3>
            12-04-2018
          </ion-col>
          <ion-col col-3>
            22 khz
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-list>

    <ion-list *ngSwitchCase="'monthly'">
      <div style="text-align: center">Wait for it... It's coming soon!!</div>
    </ion-list>
  </div>

</ion-content>