// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #F27F67,
  secondary:  #222223,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


.align-center{
  text-align: center;
}

.bg1{
  background: -moz-linear-gradient(top, rgba(13,1,85,0.5) 0%, rgba(78,69,131,0.5) 30%, rgba(221,146,146,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(13,1,85,0.5) 0%,rgba(78,69,131,0.5) 30%,rgba(221,146,146,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(13,1,85,0.5) 0%,rgba(78,69,131,0.5) 30%,rgba(221,146,146,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800d0155', endColorstr='#80dd9292',GradientType=0 ); /* IE6-9 */
}

.bg2{
  background: -moz-linear-gradient(top, rgba(0,95,233,0.5) 0%, rgba(3,77,255,0.5) 30%, rgba(122,234,161,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,95,233,0.5) 0%,rgba(3,77,255,0.5) 30%,rgba(122,234,161,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,95,233,0.5) 0%,rgba(3,77,255,0.5) 30%,rgba(122,234,161,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80005fe9', endColorstr='#807aeaa1',GradientType=0 ); /* IE6-9 */
}

.bg3{
  background: -moz-linear-gradient(top, rgba(225,2,25,0.5) 0%, rgba(255,3,3,0.5) 30%, rgba(234,216,122,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(225,2,25,0.5) 0%,rgba(255,3,3,0.5) 30%,rgba(234,216,122,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(225,2,25,0.5) 0%,rgba(255,3,3,0.5) 30%,rgba(234,216,122,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80e10219', endColorstr='#80ead87a',GradientType=0 ); /* IE6-9 */
}
.bg4{
  background: rgb(255,0,0) !important;
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(244,86,57,1) 100%) !important;
  padding: 10px;
}
.list-ios{
  padding-top: 30px;
}
.item-ios{
  background: transparent;
}
.list-ios > .item-block:first-child{
  border: 0px none;
}
.toolbar-background-ios{
  background: #8481AA;
}
.text-white{
  color: #fff !important;
}

.padding-10{
  padding: 10px;
}