<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <br><br><br>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding>
    
    <button ion-button block (click)="login()" >{{ 'LOGIN' | translate }}</button>
    <br>
    <p style="text-align: center">Dont have an account?</p>
    <button ion-button block (click)="signup()" class="login">{{ 'SIGNUP' | translate }}</button>
  </div>
</ion-content>
