<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_SUB_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<!-- 
<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content> -->

<ion-content class="card-background-page" >
  <ion-card class="bg4" *ngIf="showAlert">
    <ion-card-header style="padding-top: 0px;">
      <span class="text-white"> Instant Alert(s)</span>
    </ion-card-header>
    <div class="splash-intro">
      <img src="assets/imgs/fire-alert.png" />
    </div>
    <ion-card-content class="text-white">{{this.alertMsg}}</ion-card-content>
    <button ion-button round small>Snooze</button>
    <button ion-button color="light" round small>Dismiss</button>
  </ion-card>

      <!-- <button ion-button >Default</button> -->
  

  <!-- <h6>List of added devices</h6> -->
  <!-- <ion-card *ngFor="let device of devices">
      <img src="assets/img/nin-live.png"/>
      <div class="card-title">{{device.deviceName}}</div>
      <div class="card-subtitle">{{device.notification}}</div>
    </ion-card> -->
  <ion-card>
    <img src="assets/imgs/thumbnails/power-monitor-thumbnail.png" />
    <div class="card-title">Power monitor</div>
    <div class="card-subtitle">72 Notifications</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/thumbnails/fire-alarm-thumbnail.png" />
    <div class="card-title">Fire alarm</div>
    <div class="card-subtitle">64 Notifications</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/thumbnails/water-leakage-thumbnail.png" />
    <div class="card-title"> Water leakage sensor</div>
    <div class="card-subtitle">64 Notifications</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/thumbnails/smoke-detector-thumbnail.png" />
    <div class="card-title">Smoke detectors</div>
    <div class="card-subtitle">28 Notifications</div>
  </ion-card>

</ion-content>