page-signup {
    .list-ios{
        padding-top: 30px;
    }
    .item-ios{
        background: transparent;
    }
    .list-ios > .item-block:first-child{
        border: 0px none;
    }
    .toolbar-background-ios{
        background: #8481AA;
    }
}
